<form class="sign-in-form">
  <h3>Sign In</h3>

  <mat-form-field>
    <input
      matInput
      matNativeControl
      name="email"
      placeholder="Email"
      [formControl]="formControlEmail"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      matNativeControl
      name="password"
      placeholder="Password"
      [formControl]="formControlPassword"
    />
  </mat-form-field>

  <button mat-raised-button color="primary">Login</button>

  <button class="sign-in-form--link" (click)="changeFormHandler()">
    Sign up
  </button>
</form>
