<form
  class="sign-form"
  [formGroup]="form"
  (ngSubmit)="onSubmit(form.value)">
  <h3>Sign In</h3>

  <mat-form-field>
    <input
      matInput
      matNativeControl
      name="email"
      placeholder="Email"
      formControlName="email"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      matNativeControl
      name="password"
      placeholder="Password"
      formControlName="password"
    />
  </mat-form-field>

  <button mat-raised-button color="primary">Login</button>

  <a class="sign-form--link" (click)="onChangeForm()">
    Sign up
  </a>
</form>
